.top-banner{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: blue;
    padding: 60px;
    justify-content: center;
    align-items: center;
}
.banner-btn{
    padding: 15px 30px;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: rgb(241, 241, 130);
    color: rgb(36, 4, 4);
    /* word-break: no; */
    /* transition: .5s; */
}
h2{
    font-size: 5rem;
    color: aqua;
}
.arrow-icon{
    transition: .7s;
}
.banner-btn:hover .arrow-icon{
    transform: rotate(360deg);
}
.banner{
    padding: 10px;
        width: 45%;
        /* border: 1px solid; */
        margin: 9px;
}.banner-image:hover{
    
    transform: scale(.9);
}
.banner-image{
    width: 100%;
    transition: .5s;
}
.banner-title{
    /* padding: 10px; */
    color: white;
    font-size: 4rem;
    /* word-wrap: break-word; */
}
.players{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   /* border: 2px solid red; */
   padding:60px;


}
.players  div{
    width: 400px;
    /* border: 1px solid; */
    margin:13px;
    padding: 15px;
    box-shadow: 6px 6px 13px 3px rgba(0, 0, 0, 0.322);
}
.players img{
    width: 100%;
    /* height: 320px; */
}
@media only screen and (max-width:1023px ){
    .players div{
        width: 300px;
        border: 1px solid;
        margin:13px;
        padding: 9px;
        /* border: 2px solid yellow; */
        
    }
    .players{
        padding:22px;
    }
}
@media only screen and (max-width:1366px ){
    .players div{
        width: 300px;
        border: 1px solid;
        margin:13px;
        padding: 9px;
       
        
    }
    .players{
        padding:22px;
    }
    .footer-image{
        width: 250px;
        height: 90px;
  }
  
   
}
footer{
    
    padding: 17px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icon i{
    font-size: 2rem;
    /* border: 2px solid blue; */
    padding: 9px;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
    color: rgb(102, 102, 102);
    margin: 7px;
}
footer p{
  font-size: 1.5rem;
  text-align: center;
}
.fixture{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.fixture-add{
    border: 1px solid;
    padding-left: 30px;
    width: 40%;
    
}
h4{
    background-color: rgb(241, 235, 227);
    color: blueviolet;
    font-size: 2rem;
}
h5{
    font-size: 1.5rem;
}
h3{
    font-size: 3rem;
    color: cyan;
    text-align: center;
    padding-right: 0px;
}
h6{
    font-size: 3rem;
    color: rgba(1, 8, 8, 0.383);
    text-align: center;
    padding-right: 0px;
}

